<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'normalize', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Pathway+Gothic+One" rel="stylesheet">


    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/016cc8e025.js"></script>
  </head>

  <body>

  <div id="container">



    <nav>
      <div id="logo">
        <i class="fa fa-comments fa-4x" aria-hidden="true"></i>
      </div>

      <ul class="nav-list">
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <ul class="nav-list">
        <li class="category">Social</li>
        <li><a href="http://github.com/kvrag">GitHub</a></li>
        <li><a href="http://www.twitter.com/kvrag">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/kvragovic">LinkedIn</a></li>
      </ul>

      <p class="sign-in">Admin Login</p>
    </nav>

    
      <header>

        <% if current_page?(root_path) %>
          <p class="header">All Posts</p>
        <% elsif current_page?(about_path) %>
          <p class="header">About</p>
        <% else %>
          <p class="header"><%= link_to "Back to All Posts", root_path %></p>
        <% end %>

        <div class="buttons">
          <button class="button header"><%= link_to "New Post", new_post_path %></button>
          <button class="button header">Log Out</button>
        </div>
      </header>

    <div id="main-content">
        <% flash.each do |name, message| %>
          <%= content_tag(:div, message, class: "alert") %>
        <% end %>

    <%= yield %>
    </div>

  </div>
  </body>
</html>
